
<tr>
    <td>
        <%= image_tag bill.product.display_image if bill.product.image.attached? %>
    <%= bill.product.name %>
    </td>
    <td><%= link_to "Delete item", bill_path(bill), method: :delete, data: {confirm: "Are you sure?"} %></td>
    <td>
        <strong><%= link_to "-", bill_reduce_path(bill), method: :post %></strong>
        <%= bill.quantity %>
        <strong><%= link_to "+", bill_add_path(bill), method: :post %></strong>

    </td>
    <td><%= bill.product.price %></td>
    <td><%= bill.total_pirce %></td>
</tr>

       
