<%= provide :title, "Product detail" %>

<p><%= image_tag @product.display_image if @product.image.attached? %></p>
<p><%= @product.name %></p>
<p><%= @product.price %></p>

<% if logged_in? && current_user.admin? %>
| <%= link_to "Delete", @product, method: :delete, data: {confirm: "You sure?"} %>
<% end %>